*:focus {
  outline: none;
}

.stopwatch {
  background-color: #c2db5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  width: 40pc;
  height: 40pc;
  box-shadow: 4px 4px 5px 6px rgb(100, 100, 100);
  border-radius: 30px 50px 30px 50px;
}

.number-box{
  margin: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: -5pt;
  background-color: #ffffff;
  font-family: monospace;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px rgb(0, 0, 0);
}

.button-align {
  flex-direction: row;
}

.button {
  margin: 10px;
  box-shadow: 1px 1px 1px 1px rgb(100, 100, 100);
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
}

.button:active{
  box-shadow: inset 1px 1px rgb(100, 100, 100);
}