:root {
	--main-bg-color: #dd1d1d;
	--font-color: #000000;
	--window-color: #ffffff;
  --laps-background-color: #f5f5dc;
  --button-color: #f3ecbb;
}

*{
  user-select: none;
}

*:focus {
  outline: none;
}

.stopwatch {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  color: var(--font-color);
  width: 40pc;
  height: 40pc;
  box-shadow: 3pt 5pt 10pt 2pt rgb(100, 100, 100);
  border-radius: 10pt 10pt 50pt 50pt;
}

.number-box{
  margin: 10pt;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: -5pt;
  font-size: 20pt;
  background-color: var(--window-color);
  font-family: monospace;
  border-radius: 10pt;
  box-shadow: inset 0pt 0pt 5pt rgb(0, 0, 0);
}

.button-align {
  flex-direction: row;
}

.button {
  width: 8pc;
  margin: 5pt;
  box-shadow: 1pt 1pt 1pt 1pt rgb(100, 100, 100);
  font-size: 20pt;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 10pt;
  border-style: none;
  background-color: var(--button-color);
}

.button:active{
  box-shadow: inset 1pt 1pt rgb(100, 100, 100);
}

.lap-times{
  width: 20pc;
  height: 20pc;
  margin-top: 15pt;
  text-align: center;
  background-color: var(--laps-background-color);
  overflow-y: scroll;
  box-shadow: 0pt 0pt 3pt 3pt rgb(143, 142, 138);
  border-radius: 1pt;
}

.delete-button{
  width: 20pt;
  margin-top: -5pt;
  box-shadow: 1pt 1pt 1pt 1pt rgb(100, 100, 100);
  font-size: 15pt;
  vertical-align: middle;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 10pt;
  border-style: none;
  background-color: var(--button-color);
}

.delete-button:active{
  box-shadow: inset 1pt 1pt rgb(100, 100, 100);
}

ol{
  font-family: monospace;
  font-size: 20pt;
  list-style-type: none;
  margin-left: -20pt;
}
li{
  margin: 5pt;
}
